/*.mainMenu {
  display: flow-root;
  background: var(--primary-dark);

  & menu {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
  }
}

.navLink {
  display: inline-block;

  padding: 1rem 1.5rem;

  color: var(--text-on-dark);
  text-decoration: none;

  &:hover,
  &.active {
    color: color-mix(
      in srgb,
      var(--text-on-dark) 50%,
      var(--secondary-light) 50%
    );
  }
}

.pushRight {
  margin-left: auto;
}

.welcomeTxt {
  color: #00ec33;
}*/

.navLink {
  display: inline-block;

  padding: 1rem 1.5rem;

  color: var(--text-on-dark);
  text-decoration: none;

  &:hover,
  &.active {
    color: color-mix(
      in srgb,
      var(--text-on-dark) 50%,
      var(--secondary-light) 50%
    );
  }
}

.welcomeTxt {
  color: #00ec33;
}

.navbarAbs {
  position: absolute;
  top:0px;
  right:12px;
}

.navbarRel {
  position: relative;
}

.navbarAbs a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55)!important;

  &:hover {
    color: #fff!important;
  }
}
